.asw {
    margin-left: 120px;
}

.asw-t {
    margin-left: 140px;
    margin-right: 564px;
}

.aswt1 {
    color: #F00;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.aswt2 {
    color: #070211;
    font-family: 'Merriweather', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.aswt3 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    
    /* 160% */
}