.sq{
    margin-top: 24px;
}

.quam {
    display: flex;
    margin-left: 140px;
    margin-right: 140px;
}

.qb {
    height: 450px;
    width: 424px;
    margin-top: 24px;
}

.l {
    margin-left: 24px;
    margin-right: 24px;
}
